@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.label-field {
	@apply mt-[0.1px] mb-[0.1px] ml-0 mr-0 text-sm font-bold tracking-[0.25px] font-sans;
}

.input-field {
	@apply w-full h-full px-3 py-2.5 focus:border-indigo-500 focus:outline-none sm:text-sm rounded-md;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.scroll {
	direction: rtl;
	/* background-color: black; */
}

.scroll-item {
	direction: ltr;
}
